.giveaway__container {
  padding: 0 2rem;

  &--column {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  @media (min-width: 768px) {
    padding: 0 4rem;

    &--column {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }
  }
  @media (min-width: 1280px) {
    padding: 5rem 5rem 0 5rem;
  }
}

.giveaway__flex-container {
  @media (min-width: 768px) {
    display: flex;
  }
}
